parameters:
    database:
        default:
            dsn: '%db.driver%:host=%db.host%;dbname=%db.name%'
            user: %db.user%
            password: %db.password%
            port: 3306
            driver: %db.driver%
database:
    dsn: '%db.driver%:host=%db.host%;dbname=%db.name%'
    user: %db.user%
    password: %db.password%

application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter


session:
	expiration: 14 days


services:
	router: App\RouterFactory::createRouter

